<!-- ~/Library/LaunchAgents/com.rime.autoupdate.plist -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.rime.autoupdate</string>
    
    <key>ProgramArguments</key>
    <array>
        <!-- 使用虚拟环境中的Python -->
        <string>/Users/deltav/Developer/05-Scripts/rime_env/bin/python</string>
        <string>/Users/deltav/Developer/05-Scripts/rime-wanxiang-update-win-mac-ios-android.py</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/deltav/Developer/05-Scripts</string>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Weekday</key>
        <integer>0</integer>
        <key>Hour</key>
        <integer>3</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/deltav/Developer/05-Scripts/auto-update-log/rime_update.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/deltav/Developer/05-Scripts/auto-update-log/rime_update_error.log</string>
</dict>
</plist>

